@media (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
    .nav-list{
        gap: 50px;
    }
    .advantages-img{
        margin-left: 300px;
    }

}
@media (max-width: 1290px) {
    .container {
        max-width: 1024px;
    }
    .nav-list{
        gap: 30px;
    }
    .about-us{
        background-size: 1290px;
    }
    .about-left {
        width: 50%;
    }
    .about-right-img{
        width: 80%;
    }
    .about-right::after{
        width: 311px;
        height: 314px;
        bottom: 610px;
        right: 30px;
    }
    .cottages{
        margin-top: 100px;
    }
    .us-location{
        background-size: 1920px;
    }
    .nura-left-img{
        width: 362px;
        height: 320px;
    }
    .nura-left::after {
        width: 362px;
        height: 320px;
        right: 95px;
        bottom: -40px;
    }
    .nura-right-top{
        gap: 25px;
    }
    .nura-right-bottom {
        gap: 25px;
    }
    .nura-card-img{
        width: 50px;
        height: 50px;
    }
    .footer-info{
        display: block;
    }
    .footer-left{
        width: 100%;
    }
    .footer-left-map{
        width: 100%;
    }
    .footer-right{
        text-align: center;
        margin-top: 50px;
    }
    .footer-btm{
        justify-content: space-around;
    }
    .cottages-img{
        margin-left: 106px;
    }
}
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
    .advantages-img{
        width: 70%;
    }
    .advantages-simv{
        width: 50%;
    }
    .nav-list{
        gap: 10px;
    }
    .nav-item-link{
        font-size: 16px;
    }
    .nav-call{
        font-size: 16px;
    }
    .header-logo-img{
        width: 140px;
    }
    .about-right::after{
        width: 233px;
        height: 240px;
        bottom: 830px;
    }
    .cottages{
        margin-top: 200px;
    }
    .cottages-img{
        width: 500px;
        margin-left: 36px;
    }
    .cottages-img-info{
        width: 260px;
    }
    .cottages-info{
        height: 500px;
    }
    .location-img{
        width: 90%;
    }
    .location-right::after{
        width: 345px;
        height: 217px;
        bottom: 180px;
    }
    .advantages{
        width: 80%;
    }
    .advantages-desc{
        font-size: 18px;
    }
    .nura-cards{
        gap: 20px;
    }
    .nura-left-img{
        width: 288px;
        height: 256px;
    }
    .nura-left::after{
        width: 288px;
        height: 256px;
        bottom: 80px;
    }
    .presentation-form{
        width: 200px;
        height: 60px;
    }
    .presentation-btn{
        width: 200px;
        height: 60px;
    }
    .nura-card-img{
        width: 33px;
        height: 33px;
    }
    .nura-cards-title{
        font-size: 16px;
    }
    .nura-cards-desc{
        font-size: 16px
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 684px;
    }
    .header-info{
        height: 550px;
    }
    .header-nav-list{
        display: none;
    }
    .header-info-title{
        font-size: 30px;
    }
    .header-info-desc{
        font-size: 30px;
    }
    .header-quantity-title{
        font-size: 30px;
    }
    .header-quantity-desc{
        font-size: 14px;
    }
    .header-info-right-desc{
        font-size: 14px;
    }
    .about-title{
        padding-top: 50px;
    }
    .about-title{
        font-size: 30px;
    }
    .about-left-desc{
        font-size: 14px;
    }
    .about-left-mintitle{
        font-size: 25px;
    }
    .about-right::after{
        width: 207px;
        height: 216px;
        bottom: 525px;
    }
    .about-us{
        height: 900px;
    }
    .cottages{
        margin-top: 0px;
    }
    .cottages-img-info {
        width: 215px;
    }
    .cottages-title{
        font-size: 30px;
    }
    .location-title{
        font-size: 30px;
    }
    .location-desc{
        font-size: 14px;
    }
    .location-right::after {
        left: -30px;
        bottom: 160px;
        height: 211px;
        width: 307px;
    }
    .nura-cards{
        display: block;
    }
    .nura-left-img{
        width: 70%;
        height: 70%;
    }
    .nura-left{
        width: 100%;
    }
    .nura-left::after {
        width: 478px;
        height: 422px;
        bottom: -40px;
        right: 60px;
    }
    .nura-right{
        width: 100%;
    }
    .nura-title{
        font-size: 30px;
    }
    .technology-title{
        font-size: 30px;
    }
    .us-technology{
        margin-top: 300px;
    }
    .technology-name{
        font-size: 20px;
    }
    .technology-desc{
        letter-spacing: 1px;
        font-size: 14px;
    }
    .presentation-title{
        font-size: 30px;
    }
    .presentation-desc{
        font-size: 16px;
    }
    .us-pay{
        margin-top: 30px;
        height: 400px;
    }
    .pay-title{
        font-size: 30px;
        padding-top: 80px;
    }
    .pay-img{
        width: 50px;
    }
    .pay-desc{
        font-size: 14px;
    }
    .advantages-img {
        margin-left: 220px;
    }
    .technology-img{
        width: 160px;
    }
    .footer-title{
        font-size: 30px;
    }
    .footer-desc{
        font-size: 18px;
    }
}
@media (max-width: 684px) {
    .container {
        max-width: 512px;
    }
    .header-info-title{
        margin: 100px 0;
    }
    .header-info-desc{
        margin-top: 60px;
    }
    .header-quantity{
        margin-top: 60px;
    }
    .header-info-right-desc{
        margin-top: 100px;
    }
    .about-left-desc{
        margin-bottom: 20px;
    }
    .cottages {
        margin-top: 40px;
    }
    .about-right::after {
        width: 155px;
        height: 147px;
        bottom: 610px;
    }
    .cottages-img {
        width: 340px;
        margin-left: 42px;
    }
    .cottages-info {
        height: 400px;
    }
    .location-right::after {
        left: -30px;
        bottom: 170px;
        height: 158px;
        width: 230px;
    }
    .location-desc{
        margin-top: 30px;
    }
    .us-location{
        height: 500px;
    }
    .advantages-title{
        font-size: 30px;
    }
    .advantages-desc{
        font-size: 14px;
    }
    .advantages-img{
        margin-left: 180px;
    }
    .advantages{
        height: 900px;
    }
    .advantages-simv{
        bottom: 470px;
    }
    .nura-left::after {
        width: 358px;
        height: 316px;
        bottom: -40px;
        right: 40px;
    }
    .presentation-forms{
        display: block;
    }
    .presentation-form{
        margin-left: 30px;
    }
    .down-btn{
        text-align: center;
        margin-top: 20px;
    }
    .pay-desc{
        font-size: 12px;
    }
    .footer-crt-title{
        font-size: 16px; 
    }
    .nav-call {
    font-size: 16px;
    }
    .nav-whats {
        font-size: 18px;
}
@media (max-width: 512px) {
    .container {
        max-width: 414px;
    }
    .about-right::after {
        width: 125px;
        height: 119px;
        bottom: 750px;
        right: 15px;
    }
    .cottages{
        margin-top: 180px;
    }
    .cottages-img {
        width: 240px;
        margin-left: 42px;
    }
    .cottages-img-info {
        width: 180px;
    }
    .cottages-info {
        height: 338px;
    }
    .location-right::after {
        left: -30px;
        bottom: 221px;
        height: 128px;
        width: 168px;
    }
    .location-desc{
        font-size: 12px;
    }
    .advantages-desc span {
        font-size: 17px;
    }
    .advantages-img{
        margin-left: 130px;
    }
    .advantages-simv{
        left: -80px;
        bottom: 380px;
    }
    .advantages {
        height: 768px;
    }
    .nura-left::after {
        width: 289px;
        height: 255px;
        bottom: -35px;
        right: 30px;
    }
    .nura-card-img{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .nura-cards-title {
        font-size: 14px;
    }
    .nura-cards-desc {
        font-size: 12px;
    }
    .technology-desc {
        letter-spacing: 1px;
        font-size: 12px;
    }
    .presentation-form {
        width: 150px;
        height: 48px;
    }
    .footer-item{
        font-size: 13px;
    }
    .footer-desc{
        font-size: 16px;
    }
}
@media (max-width: 414px) {
    .container {
        max-width: 350px;
    }
    .about-right::after {
        width: 106px;
        height: 100px;
        bottom: 950px;
        right: 9px;
    }
    .cottages {
        margin-top: 350px;
    }
    .cottages-title{
        font-size: 24px;
        margin-left: 50px;
    }
    .cottages-img {
        width: 180px;
        margin-left: 42px;
    }
    .cottages-img-info {
        width: 138px;
    }
    .location-right::after {
        bottom: 261px;
    }
    .advantages-desc{
        font-size: 12px;
    }
    .advantages {
        height: 829px;
    }
    .nura-left::after {
        width: 245px;
        height: 216px;
        bottom: -35px;
        right: 20px;
    }
    .us-technology{
        margin-top: 150px;
    }
    .presentation-form {
        width: 140px;
        height: 45px;
        margin-left: 15px;
    }
    .presentation-form[type=text] {
        padding-left: 14px;
    }
    .presentation-form[type=tel] {
        padding-left: 14px;
    }
    .pay-desc{
        font-size: 9px;
    }
    .footer-btm {
        gap: 0;
    }
}
